.purchase-box {
  padding-top: 82px;
  .sell-out {
    width: 100%;
    text-align: center;
    padding-top: 42px;
    padding-bottom: 48px;
    p {
      font-weight: normal;
      font-size: 48px;
      line-height: 56px;
    }
  }
  .purchase-txt {
    text-align: center;
  }
  .purchase-img {
    height: 350px;
    width: 350px;
    margin: 0 auto;
    img {
      height: 100%;
      width: 100%;
    }
  }
  .btn-box {
    width: 100%;
    padding-top: 8px;
    padding-bottom: 48px;
  }
  .purchase-btn {
    background-color: #000;
    color: #fff;
    width: 400px;
    height: 80px;
    font-size: 32px;
    font-weight: bold;
    margin: 0 auto;
    display: block;
  }
  .purchase-input {
    margin-top: 42px;
    width: 100%;
    .input-wrapper {
      width: 600px;
      margin: 0 auto;
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      height: 64px;
      line-height: 64px;
      border: 1px solid #000;
      .calcu-input {
        height: 100%;
        flex: 1;
        border: none;
        font-size: 24px;
        color: #000;
        text-align: center;
      }
      .calcu-btn {
        width: 64px;
        height: 100%;
        flex-basis: 64px;
        text-align: center;
        img {
          width: 24px;
        }
      }
      .plus-icon {
        border-left: 1px solid #000;
      }
      .minus-icon {
        border-right: 1px solid #000;
      }
    }
  }
  .remain-amount {
    font-weight: normal;
    font-size: 32px;
    line-height: 40px;
    margin-top: 16px;
  }
  .cost-amount {
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;
    margin-top: 24px;
  }
  .input-wrapper {
    display: block;
  }
}

@media screen and (max-width: 576px) {
  .purchase-box {
    padding-top: 41px;
    .sell-out {
      padding-top: 21px;
      padding-bottom: 24px;
      p {
        font-weight: normal;
        font-size: 24px;
        line-height: 28px;
      }
    }
    .purchase-img {
      width: 240px;
      height: 240px;
    }
    .btn-box {
      padding-top: 4px;
      padding-bottom: 24px;
    }
    .purchase-btn {
      width: 200px;
      height: 40px;
      font-size: 16px;
    }
    .purchase-input {
      margin-top: 21px;
      .input-wrapper {
        width: 300px;
        height: 32px;
        line-height: 32px;
        .calcu-input {
          font-size: 16px;
        }
        .calcu-btn {
          width: 32px;
          flex-basis: 32px;
          img {
            width: 16px;
          }
        }
      }
    }
    .remain-amount {
      font-size: 16px;
      line-height: 24px;
      margin-top: 8px;
    }
    .cost-amount {
      font-size: 14px;
      line-height: 24px;
      margin-top: 12px;
    }
  }
}
